$display-text: 'Noto Sans', sans-serif;
$content-text: 'Rubik', sans-serif;
$reg: 400;
$bold: 700;

@mixin transition($transition)
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

.content
{
	font-family: $display-text;

	.bottom-nav
	{
		background-color: #daa215;

		.text-header
		{
			padding: 25px 0;
			color: #fff;
			font-size: 22px;
			font-weight: $reg;

			@media screen and (max-width: 500px)
			{
				text-align: right;
			}

			span
			{
				padding-left: 10px;
				font-size: 12px;
				color: rgba(255,255,255,0.8)
			}
		}
	}

	.holder
	{
		background-color: #FFF;
		margin-top: 25px;

		.top
		{
			display: flex;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 10px 5px;
			align-items: center;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: 10px;

			.holder-title
			{
				flex-grow: 1;
				font-weight: $bold;
			}
		}

		.bottom
		{
			padding: 60px 15px;
		}
	}

	//PESO WALLET
	.peso-wallet
	{
		.top
		{
			.button-holder
			{
				flex-grow: 1;
				text-align: right;

				.btn-wall-add
				{
					@include transition(0.3s);
					text-decoration: none;
					border-radius: 0;
					border: 1px solid #daa215;
					background-color: inherit;
					color: #daa215;
					font-family: $display-text;
					font-size: 13px;
					font-weight: $bold;

					&:hover
					{
						background-color: #daa215;
						color: #fff;
					}
				}

				.btn-convert
				{
					@extend .btn-wall-add;
				}
			}
		}


		.bottom
		{
			@media screen and (max-width: 500px)
			{
				flex-wrap: wrap;
			}

            .text-price
			{
				font-family: $content-text;
				font-size: 30px; //40
				font-weight: 400;
				color: #daa215;

				@media screen and (max-width: 500px)
				{
					font-size: 25px;
				}
			}

            .btn-container
				{
					.btn-request
					{
						@include transition(0.3s);
						border-radius: 0;
						background-color: #daa215;
						border: 1px solid #daa215;
						color: #fff;
						min-width: 130px;

						img
						{
							border-right: 1px solid #fff;
							padding: 3px 5px;
						}

						&:hover
						{
							background-color: inherit;
							color: #daa215;
						}
					}

					.btn-send
					{
						margin-top: 10px;
						@extend .btn-request;
					}

					@media screen and (max-width: 500px)
					{
						margin-top: 10px;

						.btn-request
						{
							width: 100%;
						}

						.btn-send
						{
							width: 100%;
						}
					}
				}

			.left
			{
				flex-basis: 500px;
				text-align: center;

				.text-price
				{
					font-family: $content-text;
					font-size: 40px;
					font-weight: 400;
					color: #daa215;

					@media screen and (max-width: 500px)
					{
						font-size: 25px;
					}
				}
			}

			.right
			{
				flex-basis: 500px;

				.btn-container
				{
					.btn-request
					{
						@include transition(0.3s);
						border-radius: 0;
						background-color: #daa215;
						border: 1px solid #daa215;
						color: #fff;
						min-width: 130px;

						img
						{
							border-right: 1px solid #fff;
							padding: 3px 5px;
						}

						&:hover
						{
							background-color: inherit;
							color: #daa215;
						}
					}

					.btn-send
					{
						margin-top: 10px;
						@extend .btn-request;
					}

					@media screen and (max-width: 500px)
					{
						margin-top: 10px;

						.btn-request
						{
							width: 100%;
						}

						.btn-send
						{
							width: 100%;
						}
					}
				}

			}
		}
	}


    //ABA WALLET
	.aba-wallet
	{
		.top
		{
			.btn-convert
			{
				@include transition(0.3s);
				text-decoration: none;
				border-radius: 0;
				border: 1px solid #daa215;
				background-color: inherit;
				color: #daa215;
				font-family: $display-text;
				font-size: 13px;
				font-weight: $bold;

				&:hover
				{
					background-color: #daa215;
					color: #fff;
				}
			}
		}

		.bottom
		{
			// margin: -50px;
			overflow-x: hidden;

			@media screen and (max-width: 500px)
			{
				flex-wrap: wrap;
			}

			.aba-wallets
			{
				text-align: center;
				cursor: pointer;
				//adding-bottom: 50px;
				// margin: 50px;
				border-bottom: 2px solid #fff;

				.aba
				{
					color: #454545;
				}

				.btc
				{
					color: #a4a4a4;
				}

                .php
                {
                    @extend .btc;
                }

				.converted-price
				{
					font-family: $content-text;
					font-weight: 400;
					font-size: 30px;
				}

				.currency
				{
					font-family: $display-text;
					font-weight: $bold;
					font-size: 15px;
					color: #daa215;
				}


				// &:hover
				// {
				// 	border-bottom: 2px solid #daa215;
				// }
			}
		}

	}

	//BITCOIN WALLET
	.bitcoin-wallet
	{
		.top
		{
			.btn-convert
			{
				@include transition(0.3s);
				text-decoration: none;
				border-radius: 0;
				border: 1px solid #daa215;
				background-color: inherit;
				color: #daa215;
				font-family: $display-text;
				font-size: 13px;
				font-weight: $bold;

				&:hover
				{
					background-color: #daa215;
					color: #fff;
				}
			}
		}

		.bottom
		{
			// margin: -50px;
			overflow-x: hidden;

			@media screen and (max-width: 500px)
			{
				flex-wrap: wrap;
			}

			.all-wallets
			{
				text-align: center;
				cursor: pointer;
				//adding-bottom: 50px;
				// margin: 50px;
				border-bottom: 2px solid #fff;

				.php
				{
					color: #a4a4a4;
				}

				.btc
				{
					color: #454545;
				}

				.converted-price
				{
					font-family: $content-text;
					font-weight: 400;
					font-size: 30px;
				}

				.currency
				{
					font-family: $display-text;
					font-weight: $bold;
					font-size: 15px;
					color: #daa215;
				}

				// &:hover
				// {
				// 	border-bottom: 2px solid #daa215;
				// }
			}
		}

	}

	//GET STARTED
	.get-started
	{
		.icon-holder
		{
			text-align: center;
			margin-top: 10px;
		}

		.label-container
		{
			text-align: center;
			font-family: $display-text;
			font-weight: $reg;

			.label1
			{
				font-size: 15px;
				color: #454545;
				padding-top: 10px;
			}

			.label2
			{
				font-size: 11px;
				color: #a4a4a4;
				padding-top: 10px;
			}
		}

		.explaination
		{
			font-family: $display-text;
			color: #454545;
			font-size: 15px;
			text-align: center;
			font-weight: $reg;
		}
	}

	.history-holder
	{
		.holder-title
		{
			nav
			{
				a
				{
					text-decoration: none;
				}

				span
				{
					padding: 0 10px;
				}

				.tab-link
				{
					@include transition(0.2s);

					// &:hover
					// {
					// 	border-bottom: 2px solid #daa215;
					// 	padding-bottom: 15px;
					// }
				}
			}

			.history
			{
				color: #454545;
			}

			.request
			{
				color: #a4a4a4;
			}
		}

		.btn-down-history
		{
			@include transition(0.3s);
			font-family: $display-text;
			color: #daa215;
			font-size: 13px;
			font-weight: $bold;

			&:hover
			{
				color: #daa215;
			}
		}
	}
}
