$display-text: 'Noto Sans', sans-serif;
$reg: 400;
$bold: 700;

@mixin transition($transition)
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

.row-no-padding
{
    > div
    {
        padding-left: 0;
        padding-right: 0;
    }
}

.t-center
{
    text-align: center;
}

.t-right
{
    text-align: right;
}

.t-yellow
{
    color: #daa215 !important;
}

.line-btn-y
{
    @include transition(0.3s);
    max-width: 175px;
    text-align: center;
    padding: 10px 0;
    background-color: transparent;
    border: 2px solid #daa215;
    color: #daa215;
    margin: auto;
    cursor: pointer;

    &:hover
    {
        background-color: #daa215;
        color: #fff;
    }
}

.p-sm
{
    font-size: 11px;
    color: #a4a4a4;
}

.content
{
    background-color: #f3f3f3;
    padding-bottom: 20px;
}

header
{}

footer
{
    background-color: #fff;
    padding: 25px 0;
    text-align: center;

    .bottom-text
    {
        color: #a4a4a4;
        font-family: $display-text;
        font-weight: $reg;
        font-size: 13px;
    }
}
/* SCROLL TO TOP */

.scroll-up
{
    padding: 8px 12px 12px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    //background-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(218, 162, 21, 0.8);
    z-index: 888;

    &:hover
    {
        cursor: pointer;
    }
    @media screen and (max-width: 900px)
    {
        right: 0;
        bottom: 58px;
    }
    @media screen and (max-width: 600px)
    {
        right: 0;
        bottom: 58px;
    }
    @media screen and (max-width: 360px)
    {
        right: 0;
        bottom: 58px;
    }
}

button{
    &:focus{
        outline: 0;
    }
}
.xbtn{
    position: relative;
    top: 0;
    margin: 5px 2px;    
    user-select: none;
    cursor: pointer;
    min-width: 100px;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #888;
    border: 0;
    transition: 100ms;
    padding: 0px 20px;

}

.td-btn{
    border-radius: 3px;
    background: #DAA215;
    box-shadow: 0px 5px #af8211;
    &:hover{
        box-shadow: 0px 3px #af8211;
        top: 2px;
        transition: 200ms;
    }
    &:active{
        box-shadow: 0px 1px #af8211;
        top: 4px;
        transition: 200ms;
    }
}

.xbtn-sm{
    min-width: 70px;
    max-width: 100%;
    height: 35px;
    padding: 0px 10px;
    
}

.outline-btn{
    font-size: 13px;
     @media screen and (max-width: 768px){
        font-size: 11px;
    }
    @media screen and (max-width: 992px){
        font-size: 11px;
    }
    font-weight: bold;
    color: #DAA215;
    background: rgba(0,0,0,0);
    border: 1px solid #DAA215;
    box-shadow: 0px 1px #af8211;
    transition: 400ms;
    &:hover{
        color: #fff;
        top: 0;
        background: #DAA215;
        transition: 400ms;
    }
    &:active{
        color: #fff;
        top: 0;
        background: #DAA215;
        box-shadow: 0px 0px #fff;
        transition: 400ms;
    }
}

.outline-i-btn{
    font-size: 16px;

    color: #fff;
    background: #DAA215;
    border: 1px solid #DAA215;
    box-shadow: 0px 1px #af8211;
    transition: 400ms;
    &:hover{
        color: #DAA215;
        top: 0;
        background: rgba(255,255,255,0);
        transition: 400ms;
    }
    &:active{
        color: #fff;
        top: 0;
        background: #DAA215;
        box-shadow: 0px 0px #fff;
        transition: 400ms;
    }
}


.d-50{
    width: 30%;
    margin: auto;
}

.d-70{
    width: 70%;
    margin: auto;
}

.d-80{
    width: 80%;
    margin: auto;
}

.d-100{
    width: 100%;
    margin: auto;
}

