$display-text: 'Noto Sans', sans-serif;
$reg: 400;
$bold: 700;

@mixin transition($transition)
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

.row-no-padding
{
    > div
    {
        padding-left: 0;
        padding-right: 0;
    }
}

.t-center
{
    text-align: center;
}

.t-right
{
    text-align: right;
}

.t-yellow
{
    color: #daa215 !important;
}

.line-btn-y
{
    @include transition(0.3s);
    max-width: 125px;
    text-align: center;
    padding: 10px 0;
    background-color: transparent;
    border: 2px solid #daa215;
    color: #daa215;
    margin: auto;
    cursor: pointer;

    &:hover
    {
        background-color: #daa215;
        color: #fff;
    }
}

.p-sm
{
    font-size: 11px;
    color: #a4a4a4;
}

.content
{
    background-color: #f3f3f3;
    padding-bottom: 20px;
}

header
{}

footer
{
    background-color: #fff;
    padding: 25px 0;
    text-align: center;

    .bottom-text
    {
        color: #a4a4a4;
        font-family: $display-text;
        font-weight: $reg;
        font-size: 13px;
    }
}
/* SCROLL TO TOP */

.scroll-up
{
    padding: 15px 15px 18px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 888;

    &:hover
    {
        cursor: pointer;
    }
    @media screen and (max-width: 900px)
    {
        right: 0;
        bottom: 58px;
    }
    @media screen and (max-width: 600px)
    {
        right: 0;
        bottom: 58px;
    }
    @media screen and (max-width: 360px)
    {
        right: 0;
        bottom: 58px;
    }
}
