$display-text: 'Noto Sans', sans-serif;
$reg: 400;
$bold: 700;

@mixin transition($transition) 
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

.full-screen
{
	background-color: #FFF;
	position: relative;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	.login-holder
	{
		.logo-holder
		{
			text-align: center;
		}

		.signin-container
		{
			form
			{
				.register-form
				{
					input
					{
						font-family: $display-text;
						border: none;
						border-bottom: 1px solid rgba(255,255,255,0.3);
						width: 100%;
						padding: 10px 5px;
						color: #fff;
						background-color: inherit;
						margin-top: 20px;
						font-size: 15px;
					}
				}

				.button-container
				{
					.btn-login
					{
						@include transition(0.3s);
						font-family: $display-text;
						border-radius: 0;
						width: 100%;
						background-color: #daa215;
						color: #fff;
						padding: 13px 0;
						font-size: 15px;

						&:hover
						{
							background-color: inherit;
							color: #daa215;
							border: 1px solid #daa215;
						}
					}
				}
			}
		}

		.no-account
		{
			margin-top: 15px;
			padding: 30px;
			background-color: inherit;
			font-family: $display-text;

			.text
			{
				font-size: 15px;
				color: #fff;

				a
				{
					@include transition(0.3s);
					text-decoration: none;
					color: #daa215;
					font-weight: $reg;

					&:hover
					{
						opacity: 0.8;
					}
				}
			}
		}

		.login-footer
		{
			text-align: center;
			margin: 50px 0;

			.text
			{
				font-family: $display-text;
				font-weight: $reg;
				color: #6693b1;
				font-size: 13px;
			}
		}
	}
}