$display-text: 'Noto Sans', sans-serif;
$content-text: 'Rubik', sans-serif;
$reg: 400;
$bold: 700;
$text-dark: #454545;
$text-light: #a4a4a4;
$text-orange: #ff3503;

@mixin transition($transition) 
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

.content 
{
	font-family: $display-text;

	.bottom-nav
	{
		background-color: #fd6537;

		.text-header
		{
			padding: 25px 0;
			color: #fff;
			font-size: 22px;
			font-weight: $reg;

			@media screen and (max-width: 500px)
			{
				text-align: right;
			}

			span 
			{
				padding-left: 10px;
				font-size: 12px;
				color: rgba(255,255,255,0.8)
			}
		}
	}
	.content-wrapper 
	{
		padding-top: 50px;
		min-height: 720px;

		.holder 
		{
			padding: 25px;
			background-color: #fff;
		}
	}
}
